/* ELEMENT SELECTORS */
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

p {
    font-family: 'Montserrat', sans-serif;
    color: #8f8f8f;
}

button {
    font-family: 'Poppins', sans-serif;
}

/* HEADINGS */
.bigHeading {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 3.5rem;
    line-height: 1.5;
    color:#fff;
}

.section-heading {
    font-size: 3rem;
    line-height: 1.5;
}

/* Containers */
.container-fluid {
    padding: 7% 15%;
}

.colored-section {
    background-color: #ff4c68;
    color: #fff;
}

.white-section {
    background-color: #fff;
}

/**** TITLE SECTION ****/

#title .container-fluid {
    padding: 3% 15% 7%;
}

/* Navbar */

.navbar {
    padding: 0 0 4.5rem 0;
}

.navbar-brand {
    font-weight: 600;
    font-size: 2.5rem;
    font-family: 'Poppins', sans-serif;
}

.navbar-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat-Light";
}

/* Title section body */

.iPhone6 {
    -ms-transform: rotate(20deg); /* IE 9 */
  transform: rotate(25deg);
  width: 65%;
  position: absolute;
  right: 20%;
}

/* Download BUTTONS */

.buttons-container {
    padding-top: 12px;
    margin-bottom:40px;
}

.GooglePlay {
    width: 187px;
    padding: 0;
    margin: 0;
    border: 0;
}

/**** FEATURES SECTION ****/
#features .container-fluid {
    position: relative;
}

.feature-box {
    margin-bottom: 75px;
    padding:5%;
}


.feature-icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.feature-icon:hover {
    color: #ff4c68;
}

.feature-title {
    font-size: 1.5rem;
}

.feature-text {
    color:#8f8f8f;
}

/**** TESTIMONIALS SECTION ****/

#testimonials {
    background-color:#ef8172;
}

.testimonial-text {
    font-size:3rem;
    line-height: 1.5;
}

.testimonial-image {
    width:10%;
    border-radius: 100%;
    margin: 20px;
}

#press {
    background-color:#ef8172;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

/**** PRICING SECTION ****/

.pricing-column {
    padding: 3% 2%;
}

.price-text {
    font-size: 3rem;
    line-height: 1.5;
}

/**** CTA SECTION ****/

.cta-buttons {
    margin: 30px 10px;
}

/**** FOOTER SECTION ****/

.footer-icons {
    margin: 20px 10px;
}

/**** MEDIA QUERIES ****/
/* MOBILE & TABLET */
@media screen and (max-width:991px) {
    #title .container-fluid {
        text-align: center;
    }

    .buttons-container {
        height: 120px;
        width: 100%;
    }

    .GooglePlay {
        position: static;
    }

    .iPhone6 {
        position: static;
        transform: rotate(0);
    }
}